<?xml version="1.0"?>

<launch>

  <!-- Low level motor driver => RoboClaw -->
  <node pkg="holonomic_robotclaw_driver" type="holonomic_robotclaw_driver" respawn="false" name="PETIT_RoboClawDriver" output="screen">
        <remap from="/cmd_vel" to="/PETIT/cmd_vel" />
  </node> 

  <!-- IMU for PETIT robot -->
  <node pkg="um6" type="um6_driver" respawn="false" name="PETIT_imu_driver" output="screen">
        <param name="port" type="str" value="/dev/ttyUM6" />
    	<remap from="/imu/data" to="/PETIT/imu" />
  </node>

  <!-- Position estimation node -->
  <node pkg="common_odom_estimation" type="common_odom_estimation" name="PETIT_odom_estimation" output="screen">
    <param name="enable_imu" value="true" />
    <param name="enable_fake" value="true" />
    <param name="enable_beacon" value="true" />
    <param name="parent_link" value="world" />
    <param name="child_link" value="petit_base_link" />
    <param name="poseX" value="1.0" />
    <param name="poseY" value="1.2" />
    <param name="theta" value="1.57" />

    <remap from="/init" to="/PETIT/init" />
    <remap from="/imu" to="/PETIT/imu" />
    <remap from="/cmd_vel" to="/PETIT/cmd_vel" />
    <remap from="/beacon" to="/GROS/beacon_pose" />
    <remap from="/odom_est" to="/PETIT/odom_est" />
  </node>

  <!-- Arduino on the Odroid-U3 -->
  <node pkg="rosserial_python" type="serial_node.py" respawn="false" name="PETIT_Odruino" output="screen" args="/dev/ttyS2">
        <remap from="/servo1" to="/PETIT/servo1" />
        <remap from="/servo2" to="/PETIT/servo2" />
        <remap from="/servo3" to="/PETIT/servo3" />
        <remap from="/servo4" to="/PETIT/servo4" />
        <remap from="/servo5" to="/PETIT/servo5" />
        <remap from="/servo6" to="/PETIT/servo6" />
        <remap from="/servo7" to="/PETIT/servo7" />
        <remap from="/servo8" to="/PETIT/servo8" />
        <remap from="/servo9" to="/PETIT/servo9" />
        <remap from="/servo10" to="/PETIT/servo10" />
        <remap from="/servo11" to="/PETIT/servo11" />
        <remap from="/servo12" to="/PETIT/servo12" />
        <remap from="/servo_speed" to="/PETIT/servo_speed" />
        <remap from="/enable_servo" to="/PETIT/enable_servo" />
  </node>

  <!-- Robot mandibles -->
  <node pkg="robot_mandibles" type="robot_mandibles" respawn="false" name="PETIT_mandibles" output="screen">
        <param name="servo1_position0" value="54" />
        <param name="servo2_position0" value="109" />
        <param name="servo1_position1" value="158" />
        <param name="servo2_position1" value="10" />
        <param name="servo1_position2" value="154" />
        <param name="servo2_position2" value="16" />
        <param name="move_speed" value="3" />
        <param name="wait_step_1_to_2" value="0.7" />

	<remap from="/position" to="/PETIT/mandibles_position" />
        <remap from="/servo1" to="/PETIT/servo4" />
        <remap from="/servo2" to="/PETIT/servo2" />
        <remap from="/servo_speed" to="/PETIT/servo_speed" />
  </node>


  <!-- Path planner / Costmap -->
<!--  <node pkg="common_smart_nav" type="pathplanner" respawn="false" name="PETIT_pathplanner" output="screen">
    <param name="costmap_name" type="str" value="PETIT_costmap" />
    <param name="planner_name" type="str" value="PETIT_planner" />
    <param name="map_name" type="str" value="world" />

    <rosparam file="$(find eurobot2016_launch)/conf/petit_nav_params.yaml" command="load" />

        <remap from="/ROBOT/goal" to="/PETIT/goal" />
        <remap from="/ROBOT/plan" to="/PETIT/plan" />
        <remap from="/ROBOT/path_done" to="/PETIT/path_done" />
        <remap from="/ROBOT/compute_path" to="/PETIT/compute_path" />
        <remap from="/ROBOT/pause" to="/PETIT/stop_planner" />
        <remap from="/ROBOT/resume" to="/PETIT/pause_planner" />

        <remap from="/ROBOT/get_robot_pose" to="/PETIT/get_robot_pose" />
        <remap from="/ROBOT/get_distance" to="/PETIT/get_distance" />
        <remap from="/ROBOT/get_path" to="/PETIT/get_path" />
  </node>
-->
  <!-- Path wrapper = Path follower -->
<!--  <node pkg="common_smart_nav" type="pathwrapper" respawn="false" name="PETIT_pathwrapper" output="screen">
    <param name="map_name" type="str" value="world" />
    <param name="base_name" type="str" value="petit_base_link" />

    <param name="nb_step_skip" type="int" value="11" />
    <param name="max_dist_skip" type="double" value="0.19" />
    <param name="max_speed_ang" type="double" value="0.10" />
    <param name="max_speed_lin" type="double" value="0.17" />
    <param name="Px" type="double" value="1.8" />
    <param name="Py" type="double" value="1.3" />
    <param name="Pz" type="double" value="1.5" />

       <remap from="/ROBOT/plan" to="/PETIT/plan" />
        <remap from="/ROBOT/get_robot_pose" to="/PETIT/get_robot_pose" />
        <remap from="/cmd_vel" to="/PETIT/cmd_vel" />
        <remap from="/resume_nav" to="/PETIT/resume_pathwrapper" />
        <remap from="/pause_nav" to="/PETIT/pause_pathwrapper" />
        <remap from="/path_done" to="/PETIT/path_done" />
        <remap from="/pause_planner" to="/PETIT/pause_planner" />
  </node>
-->

</launch>
