<?xml version="1.0"?>

<launch>

  <node pkg="eurobot2016_obstacles" type="eurobot2016_obstacles" respawn="true" name="PETIT_eurobot2016_obstacles" output="screen">
        <remap from="/cloud" to="/PETIT/fixed_obstacles" />
  </node>


  <node pkg="tf" type="static_transform_publisher" name="PETIT_worldodom_broadcaster" args="0 0 0 0 0 0 /world /petit_odom 100" />

  <!-- Path planner / Costmap -->
  <node pkg="common_smart_nav" type="pathplanner_global" respawn="false" name="PETIT_pathplanner" output="screen">
    <param name="costmap_name" type="str" value="PETIT_costmap" />
    <param name="planner_name" type="str" value="PETIT_planner" />
    <param name="map_name" type="str" value="world" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>

    <rosparam file="$(find eurobot2017_launchfiles)/conf/PETIT_nav_params.yaml" command="load" />

        <remap from="/ROBOT/goal" to="/PETIT/goal" />
        <remap from="/ROBOT/plan" to="/PETIT/plan" />
        <remap from="/ROBOT/path_done" to="/PETIT/path_done" />
        <remap from="/ROBOT/compute_path" to="/PETIT/compute_path" />
        <remap from="/ROBOT/pause" to="/PETIT/stop_planner" />
        <remap from="/ROBOT/resume" to="/PETIT/pause_planner" />

        <remap from="/ROBOT/get_robot_pose" to="/PETIT/get_robot_pose" />
        <remap from="/ROBOT/get_distance" to="/PETIT/get_distance" />
        <remap from="/ROBOT/get_path" to="/PETIT/get_path" />
  </node>

  <!-- Path wrapper = Path follower -->
  <node pkg="common_smart_nav" type="arduino_pathwrapper" respawn="false" name="PETIT_pathwrapper" output="screen">
    <param name="map_name" type="str" value="world" />
    <param name="base_name" type="str" value="base_link" />

    <param name="nb_step_skip" type="int" value="9" />
    <param name="max_dist_skip" type="double" value="0.12" />
    <param name="max_speed_ang" type="double" value="0.12" />
    <param name="max_speed_lin" type="double" value="0.15" />
    <param name="Px" type="double" value="1.8" />
    <param name="Py" type="double" value="1.4" />
    <param name="Pz" type="double" value="1.5" />

       <remap from="/ROBOT/plan" to="/PETIT/plan" />
        <remap from="/ROBOT/get_robot_pose" to="/PETIT/get_robot_pose" />
        <remap from="/cmd_vel" to="/PETIT/cmd_vel" />
        <remap from="/ROBOT/ardugoal" to="/PETIT/ardugoal" />
        <remap from="/resume_nav" to="/PETIT/resume_pathwrapper" />
        <remap from="/pause_nav" to="/PETIT/pause_pathwrapper" />
        <remap from="/path_done" to="/PETIT/path_done" />
        <remap from="/pause_planner" to="/PETIT/pause_planner" />
  </node>


</launch>
